<div class="flex align-items-center justify-content-center h-screen w-screen">
    <p-card styleClass="p-5">
        <h1>Welcome to Cloudonix Store!</h1>
        <form [formGroup]="authorizationForm" (ngSubmit)="onTokenSubmit()" class="flex flex-column gap-3 mt-5">
            <label>Please enter your authorization key:</label>
            <input type="text" pInputText formControlName="token">
            <p-button label="Submit" (onClick)="onTokenSubmit()" [disabled]="authorizationForm.invalid" />
        </form>
    </p-card>
</div>