@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "primeicons/primeicons.css";

* {
    font-family: 'Poppins', sans-serif;
}

html {
    font-size: 20px;
}

.p-inputtext,
.p-select {
    height: 2rem;
    font-size: .7rem !important;
}

.p-select {
    height: 2.1rem;
}

.p-select-overlay {
    font-size: .7rem !important;
}

.p-button {
    font-size: 2rem !important;
}

.p-toast-close-button {
    color: var(--text-color) !important;
}

.p-paginator-rpp-dropdown {
    font-size: .75rem !important;
}

.p-confirmdialog-reject-button,
.p-confirmdialog-accept-button {
    font-size: 1rem !important;
}

.p-confirmdialog .p-dialog-footer {
    justify-content: space-between;
    height: 75px;
    margin-top: 20px;
}

.p-confirmdialog {
    font-size:.8rem !important;
}

label {
    font-size: .7rem;
}
